#config file for scripts

source_archivedir=${SOURCEARCHIVEDIR:-/root/SrcFiles/EBP/$Interface_name/archive}
script_logdir=${SCRIPTLOGDIR:-/root/ScriptLogs/EBP/$Interface_name}
archive_script_logdir=$script_logdir/archive
targetarchivedir=${TARGETARCHIVEDIR:-/root/TgtFiles/EBP/$Interface_name/archive}
cef_log=${CEFLOGS:-/root/Logs/EBP/$Interface_name}
archive_cef_log=$cef_log/archive
audit_log=${AUDIT:-/root/TgtFiles/EBP/$Interface_name/audit}
archive_audit_log=$audit_log/archive
reject_archivedir=${REJECT_archiveDIR:-/root/BadFiles/EBP/$Interface_name/archive} 
purge_script_logdir=${PURGE_SCRIPT_LOGDIR:-/root/ScriptLogs/EBP/purge}
purge_archive_script_logdir=$purge_script_logdir/archive
